@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$dark-color: #353436;
$text-color: #ffffff;
$activ-text-color: #e2d1a6;
$dark-text-color: #aeadad;
$btn-dark-color: #000000;
$visited-link: #f0b114;

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}
p {
    font-family: 'Open Sans', serif;
}
a {
    &:active {
        color: $visited-link;
    }
}
body {
    background-color: $dark-color;
}
.area {
    max-width: 1200px;
    display: flex;
    justify-content: flex-end;
    color: $text-color;
    margin: 0 auto;
    padding: 4px 3px;
    &__title {
        font-family: 'Open Sans', serif;
        text-decoration: none;
        color: $text-color;
        font-size: 14px;
        text-transform: uppercase;
        padding-right: 10px;
    }
    &__img {
        width: 9px;
        height: 13px;;
        vertical-align: middle;
    }
}






// modal window 
.modal {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $text-color;
    z-index: 99999;
    background: rgba(255, 255, 255, 0.7);
	display: none;
    pointer-events: none;
    text-align: center;
    font-family: 'Open Sans', serif;
    &:target {
        display: block;
        pointer-events: auto;
    }
    &-content {
        width: 595px;
        height: 355px;
        position: relative;
        margin: 10% auto;
        padding: 13px 15px 26px;
        background: $dark-color;
        @media(max-width:650px) {
            height: 550px;
            width: 270px;
        }
        h3 {
            font-size: 27px;
            font-family: 'Playfair', serif;
            font-weight: 400;
        }
        &__form {
            max-width: 440px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between; 
            @media(max-width:650px) {
                display: flex;
                flex-direction: column;
                max-width: 185px;
            }
        }
        
        &__login {
            display: flex;
            flex-direction: column;
            h4 {
                font-size: 18px;
                font-weight: 400;
                padding: 16px 0;
                font-family: 'Playfair', serif;
                text-align: left;
            }
        }
        &__desc {
            color: $dark-text-color;
            font-size: 15px;
            text-align: left;
        }
        &__item {
            width: 164px;
            height: 18px;
            border: 0;
            outline: none;
            padding: 6px 10px;
            margin-bottom: 7px;
            &_padd {
                margin-bottom: 12px;
            }
        }
        &__btn {
            width: 184px;
            height: 30px;
            border: 0;
            outline: none;
            margin: 15px 0;
            background-color: #000000;
            color: $text-color;
            &:active {
                background-color: $dark-text-color;
            }
            &_mar {
                margin: 10px 0 15px;
            }
        }
        &-chekbox {
            display: flex;
            justify-content: flex-start;
            font-size: 10px;
            color: $dark-text-color;
            padding-bottom: 12px;
            &__input {
                margin-right: 3px;
            }
        }
        &__close {
            background: url(../img/close.png);
            color: #FFFFFF;
            position: absolute;
            right: 12px;
            text-align: center;
            top: 16px;
            width: 23px;
            height: 22px;
            text-decoration: none;
            font-weight: bold;
        }
        
    }
}


// end modal window 




.wrap {
    background-color: $dark-color;
    padding: 0 20px;
}
.header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media(max-width:950px) {
        flex-direction: column;
    }
    &__logo {
        display: block;
        background-image: url(../img/logo.png);
        background-repeat: no-repeat;
        width: 283px;
        height: 83px;
        padding: 20px 0 0;
        @media(max-width:950px) {
            flex-direction: column;
            max-width: 300px;
            margin: 0 auto;
        }
    }
    &-menu {
        padding-top: 65px;
        padding-bottom: 16px;
    }
    &-list {
        list-style-type: none;
        display: flex;
        align-items: flex-end;
        @media(max-width:950px) {
            margin: 0 auto;
        }
        @media(max-width:850px) {
            flex-direction: column;
            margin: 0 auto;
        }
        &__item {
            text-transform: uppercase;
            color: $text-color;
            margin-left: 25px; 
            padding-bottom: 5px;
            font-family: 'Open Sans', serif;
            font-size: 18px; 
            position: relative;
            @media(max-width:850px) {
                margin: 0 auto;
            }
            &:hover > .header-list__sub {
                display: block;
               }
        }
        &__link {
            color: $text-color;
            text-decoration: none;
            &_sub {
                font-size: 16px;
                font-family: 'Open Sans', serif;
            }
            &:hover {
                color: $activ-text-color;
            }
        }
        &__sub {
            position: absolute;
            display: none;
            z-index: 1;
            left: -14px;
            background-color: $dark-color;
            max-width: 138px;
            list-style-type: none;
            padding: 30px 9px 10px 9px;
            &>li {
                padding: 4px 7px;
                border-bottom: 1px solid $text-color;
                &:last-child {
                    border: none;
                    padding-bottom: 4px;
                }
            }
            
        }
    }
}
.page {
    max-width: 1240px;
    position: relative;
    margin: 0 auto;
}
.carousel {
    position: relative;
    &__title {
        background: rgba(255, 255, 255, 0.7);
        width: 509px;
        height: 140px;
        position: absolute;
        z-index: 1;
        top: 251px;
        right: 0;
        h2 {
            text-transform: uppercase;
            font-family: 'Playfair', serif;
            padding: 16px 28px;
            font-size: 30px; 
            font-style: italic;
        }
    }
    &__text {
        padding: 7px 28px;
        line-height: 23px;
        font-size: 18px; 
        font-family: 'Open Sans', serif;
    }
}
.slick-dots {
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: absolute;
    z-index: 1;
    left: 47%;
    margin-top: -60px;
    &>li {
        margin: 0 5px;
        button {
            text-indent: -9999px;
            width: 10px;
            height: 10px;
            border: 1px solid $btn-dark-color;
            background-color: $text-color;
            border-radius: 50%;
            line-height: 10px;
            font-size: 0;
            padding: 3px 0;
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }
    }
    &>li.slick-active {
        button {
            background-color: $activ-text-color;
        }
    }
}

.carousel-arrow {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $text-color;
    z-index: 99999;
    background: rgba(255, 255, 255, 0.7);
	display: none;
    pointer-events: none;
    text-align: center;
    font-family: 'Open Sans', serif;
    &:target {
        display: block;
        pointer-events: auto;
    }
    &__content {
        width: 595px;
        height: 355px;
        position: relative;
        margin: 10% auto;
        padding: 13px 15px 26px;
        background: $dark-color;
    }
}

  
  .hidden-block {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 20px;
    width: 1200px;
    // display: none;
    
    &__img {
        position: absolute;
        bottom: 0;
        left: 46%;
        border: none;
        height: 29px;
        cursor: pointer;
        
    }
    &__content {
        display: flex;
        justify-content: space-between;
        min-height: 173px;
    }
    &__item {
        padding: 16px 20px 13px 14px;
        &:nth-child(1) {
            background-color: $activ-text-color;
            color: $btn-dark-color;
            a {
                &:hover {
                    color: $text-color;
                    text-decoration: underline;
                }
            }
        }
        &:nth-child(2) {
            background-color: $text-color;
            color: $btn-dark-color;
            a {
                color: $btn-dark-color;
                &:hover {
                    color: $activ-text-color;
                    text-decoration: underline;
                }
            }
        }
        &:nth-child(3) {
            background-color: $btn-dark-color;
            color: $text-color;
            a {
                color: $text-color;
                &:hover {
                    color: $activ-text-color;
                    text-decoration: underline;
                }
            }
        }
    }
    &__title {
        font-size: 29px;
        margin: 0 25px 5px 0;
        line-height: 31px;
        letter-spacing: 0.3px;
        font-family: 'Playfair', serif;
    }
    &__text {
        padding-bottom: 10px;
        line-height: 25px;
    }
    &__link {
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        color: $btn-dark-color;
        font-family: 'Open Sans', serif;
        font-size: 18px;
    }
  }
  .hidden-block.active {
    position: absolute;
    z-index: 2;
    bottom: 0;
    display: block;
  }

.footer {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-top: 34px;
    padding-bottom: 50px;
    color: $dark-text-color;
    &__item {
        flex-basis: 18%;
        &:nth-child(4) {
            padding-bottom: 48px;   
        }
    }
    &__title {
        font-family: 'Playfair', serif;
        font-size: 14px;
        text-transform: uppercase;
        padding-bottom: 22px;
        letter-spacing: -0.8px;
        color: $text-color;
    }
    &__text {
        line-height: 18px;
        font-size: 11px;
    }
}