<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" href="../styles/main.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Playfair+Display:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    </head>
    <body>
        <header>
            <div class="wrap">
                <div class="area">
                    <a href="#open-modal" class="area__title">AREA RISERVATA</a><img class="area__img" src="../img/oggettoo.png" alt="AREA RISERVATA">
                    <div id="open-modal" class="modal">
                        <div class="modal-content">
                            <a href="#close" title="Закрыть" class="modal-content__close"></a>
                            <h3>AREA RISERVATA</h3>
                            <div class="modal-content__form">
                                <div class="modal-content__login">
                                    <h4>ACCEDI</h4>
                                    <input class="modal-content__item" type="text" name="" placeholder="E-email">
                                    <input class="modal-content__item" type="text" name="" placeholder="Password">
                                    <button class="modal-content__btn">ACCEDI</button>
                                    <p class="modal-content__desc">Password dimenticata</p>
                                </div>
                                <div class="modal-content__login">
                                        <h4>REGISTRATI</h4>
                                    <input class="modal-content__item modal-content__item_padd" type="text" name="" placeholder="Nome">
                                    <input class="modal-content__item modal-content__item_padd" type="text" name="" placeholder="Cognome">
                                    <input class="modal-content__item modal-content__item_padd" type="text" name="" placeholder="E-email">
                                    <input class="modal-content__item modal-content__item_padd" type="text" name="" placeholder="Password">
                                    <div class="modal-content-chekbox">
                                        <input class="modal-content-chekbox__input" type="checkbox">
                                        <p>Acconsento al trattamento dei dati</p>
                                    </div>
                                    <div class="modal-content-chekbox">
                                        <input class="modal-content-chekbox__input" type="checkbox">
                                        <p>Mi iscrivo alla Newsletter</p>
                                    </div>
                                    <button class="modal-content__btn modal-content__btn_mar">ISCRIVITI</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header">
                    <a href="" class="header__logo"></a>
                    <nav class="header-menu">
                        <ul  class="header-list">
                            <li class="header-list__item"><a href="" class="header-list__link">Home</a></li>
                            <li class="header-list__item"><a href="" class="header-list__link">Azienda</a></li>
                                <ul class="header-list__sub">
                                    <li><a href="#" class="header-list__link header-list__link_sub">STORIA</a></li>
                                    <li><a href="#" class="header-list__link header-list__link_sub">MM DESIGN</a></li>
                                    <li><a href="#" class="header-list__link header-list__link_sub">DESIGNER</a></li>
                                    <li><a href="#" class="header-list__link header-list__link_sub">CERTIFICAZIONI</a></li>
                                </ul>
                            <li class="header-list__item"><a href="#" class="header-list__link">Collezioni</a></li>
                            <li class="header-list__item"><a href="#" class="header-list__link">News</a></li>
                            <li class="header-list__item"><a href="#" class="header-list__link">Contatti</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="page">
            <div class="carousel">
                    <div class="carousel-thumb">
                        <img src="../img/room.png" alt="">
                    </div>
                    <div class="carousel-thumb">
                        <img src="../img/room.png" alt="">
                    </div>
                    <div class="carousel-thumb">
                        <img src="../img/room.png" alt="">
                    </div>
            </div>
            <div class="carousel__title">
                <h2>Lampadari contemporanei</h2>
                <p class="carousel__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore </p>
            </div>
                <a href="#block1" class="carousel-arrow__img arrow"><img class="" src="../img/arrow.png" alt="AREA RISERVATA"></a>
                <div class="">
                    
                </div>
                
                                
        </div>
        <footer class="footer">
                <a href="#block1">Show hidden text</a>
                <a href="#block2">Show another text</a>
                
                <div id="block2" class="hide-show">
                    Another hidden text
                </div>
                
                <div id="block1" class="hide-show">
                    This is a hidden text
                </div>
        </footer>
       



        <script src="../js/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script>
                $(document).ready(function(){
                  $('.carousel').slick({
                    dots: true,
                    arrows: false,
                  });
                });
        </script>
    </body>
</html>